<h2>List of Todos</h2>
<p>Available Todos: {{ availableTodos }}</p>
<form ng-submit="post()">
<input class="form-control col-lg-12" type="text" ng-model="textbox" placeholder="My todo is..."/>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in todos">
            <td>{{ item.todo }}</td>
            <td><button class="btn btn-danger" ng-click="delete(item._id)"><i class="fa fa-close"></i> Delete</button>
        </tr>
    </tbody>
</table>
